<template>
    <v-app>
        <v-container>
            <v-row justify="center">
                <v-col cols="12" sm="10" md="8" lg="6">
                    <v-card ref="form">
                        <v-card-text>
                            <div class="text-center">
                                <v-chip class="ma-2" color="primary">
                                    Login Cidenet
                                </v-chip>
                            </div>
                            <v-text-field  v-model="usuario" color="purple darken-2" 
                            label="Usuario" required>
                            </v-text-field>
                            <v-text-field :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="[rules.required, rules.min]"
                            :type="show ? 'text' : 'password'" v-model="password" color="purple darken-2" 
                            label="Contraseña" required
                            @click:append="show = !show">
                            
                            </v-text-field>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                                <v-btn text color="purple" @click="login">
                                    Ingresar
                                </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>

            <v-snackbar color="blue darken-3" v-model="correctNotificate">
            {{ correctText }}
            <template v-slot:action="{ attrs }">
                <v-btn color="deep-purple darken-4" :timeout="3000" text v-bind="attrs" @click="correctNotificate = false">
                Close
                </v-btn>
            </template>
            </v-snackbar>

            <v-snackbar color="orange darken-3" v-model="incorrectNotificate">
            {{ incorrectText }}
            <template v-slot:action="{ attrs }">
                <v-btn color="deep-purple darken-4" :timeout="3000" text v-bind="attrs" @click="incorrectNotificate = false">
                Close
                </v-btn>
            </template>
            </v-snackbar>
        </v-container>            
    </v-app>
</template>
<script>
  export default {
    data: () => ({
      
      usuario:'',
      password:'',

      correctNotificate: false,
      correctText: '',

      urlDirect:'',
    
      incorrectNotificate: false,
      incorrectText: '',

      show: false,
      
      rules: [
        value => !!value || 'Required.',
        value => (value && value.length >= 3) || 'Min 3 characters',
      ],
    }),

    methods: {

        login()
        {
        var formData = new FormData();
        formData.append('usuario',this.usuario);
        formData.append('password',this.password);

        axios.post('/login',formData).then((response) => {
          
        this.urlDirect = response.data.data;
         window.location.href = this.urlDirect
          }).catch(
            this.incorrectNotificate = true,
            this.correctText = 'No se puede iniciar session'
          );

          
        }


    }
  }
</script>
