<template>
  <v-app>
  <v-data-table
    :headers="headers"
    :items="desserts"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Gestion de Usuarios</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              Nuevo Usuario
            </v-btn>

             <v-btn
              color="primary"
              dark
              class="mb-2"
              @click="sessionClose">
              Cerrar Sesion
            </v-btn>

            <v-alert dense type="info">
              Online: <strong>{{ userSession }}  </strong>
            </v-alert>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{formTitle}}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="12"
                    md="6"
                  >
                    <v-text-field
                      v-model="editedItem.name"
                      label="Nombre"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="12"
                    md="6"
                  >
                    <v-text-field
                      v-model="editedItem.email"
                      label="Email"
                    ></v-text-field>
                  </v-col>

                  <v-col v-if="editedIndex === -1"
                    cols="12"
                    sm="12"
                    md="6"
                  >
                    <v-text-field
                      v-model="editedItem.password"
                      :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                      :rules="[rules.required, rules.min]"
                      :type="show ? 'text' : 'password'"
                      label="Contraseña"
                      @click:append="show = !show"
                    ></v-text-field>
                  </v-col>
                  
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancelar
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5"> Desea eliminar registro?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
        color="primary"
        @click="initialize"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>


  <v-snackbar color="blue darken-3" v-model="correctNotificate">
      {{ correctText }}
      <template v-slot:action="{ attrs }">
        <v-btn color="deep-purple darken-4" :timeout="3000" text v-bind="attrs" @click="correctNotificate = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>

    <v-snackbar color="orange darken-3" v-model="incorrectNotificate">
      {{ incorrectText }}
      <template v-slot:action="{ attrs }">
        <v-btn color="deep-purple darken-4" :timeout="3000" text v-bind="attrs" @click="incorrectNotificate = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>

  </v-app>
</template>
<script>
  export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,

      correctNotificate: false,
      correctText: '',
    
      incorrectNotificate: false,
      incorrectText: '',

      show: false,
      urlDirect:'',
      userSession:'',

      rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
        },
      
      headers: [
        { text: 'ID', value: 'id' },
        { text: 'Nombre', value: 'name' },
        { text: 'Email', value: 'email' },
        { text: 'Contraseña', value: 'password',align: ' d-none' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      desserts: [],
      
      editedIndex: -1,
      editedItem: {
        id:0,
        name: '',
        email: '',
        password:'',
      },
      defaultItem: {
        id:0,
        name: '',
        email: '',
        password:'',
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo Usuario' : 'Editar Usuario'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        axios.get('/json/users').then((response) => {
          if (response.data.status == 200) {
              this.desserts = response.data.data
              this.userSession = response.data.user
          }else{
              this.desserts=[]    
          }
        });
      },

      sessionClose()
      {
        axios.post('/user/session/close').then((response) => {
            this.urlDirect = response.data.data;
            window.location.href = this.urlDirect
          }).catch(

            this.incorrectNotificate=true,
            this.incorrectText='Cierre de session Incorrecto'
          );

      },

      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        //this.desserts.splice(this.editedIndex, 1)
        axios.delete('/user/delete/'+this.editedItem.id).then((response) => {
          this.correctNotificate =true,
          this.correctText = 'Eliminacion Correcta'
        }).catch(
          this.correctNotificate =true,
          this.correctText = 'Eliminacion Incorrecta'   
        );

        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
          this.correctNotificate =false,
          this.correctText = ''

          this.incorrectText = ''
          this.incorrectNotificate = false
        this.initialize()
        
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
        this.correctNotificate =false,
        this.correctText = ''

        this.incorrectText = ''
        this.incorrectNotificate = false
        this.initialize()
        
      },

      save () {

        var formData = new FormData();
        formData.append('id',this.editedItem.id);
        formData.append('name',this.editedItem.name);
        formData.append('email',this.editedItem.email);
        formData.append('password',this.editedItem.password);
        
        if (this.editedIndex > -1) {
          axios.post('/user/update',formData).then((response) => {
            
            this.correctNotificate =true,
            this.correctText = 'Usuario Actualizado'

          }).catch(

            this.incorrectNotificate=true,
            this.incorrectText='Usuario no actualizado'
          );
        
        } else {
          axios.post('/user/create',formData).then((response) => {
            this.correctNotificate =true,
            this.correctText = 'Usuario Registrado'
          }).catch(
            this.incorrectNotificate = true,
            this.correctText = 'Usuario No Registrado'
          );
        }
        this.close()
      },
    },
  }
</script>
